h1 {
    color: darkred;
    font-size: 74px;
}

p {
    color: aquamarine;
    font-size: 39px;

}

a {
    color: black;
    font-size: x-large;
    text-decoration: none;
    font-weight: 700;
}

.List1 {
    background-color: greenyellow;
}

.List2 {
    background-color: brown;
    width: 90px;
    height: 58px;
}
.List1,
.List2{
    border-width: 5px;
    border-style:dotted;
    border-color: black;
}